body {
    background: black url('../images/ocean.jpg') repeat;
    /* background: black; */
    font-weight: 800;
    overflow: hidden;
    font-family: monospace;
}

div.wrapper {
    width: 100%;
    height: 1440px;
    /* height: 700px; */
    margin: auto;
    background: rgba(0,0,0,0);
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 10fr;
    grid-template-columns: 1fr 8fr 8fr 1fr;
    align-items: center;
    background-image: url("../images/wordGameBackground1440.png");
    align-items: start;
    -webkit-text-stroke: 0px;
}


/* div.gridBlock {
    background-color: rgba(255, 255, 255, .4);
    grid-template-columns: 1fr 1fr;
    grid-row: row 2;
} */

div.title {
    /* font-family: "Georgia"; */
    font-size: 2rem;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
}

div.content {
    padding: 10px;
    grid-column: 2 / span 2;
    grid-row-start: 3;
    text-align: center;
    justify-content: top;
    background: rgba(87, 87, 87, 0.4);
}

div.feedback {
    padding: 10px;
    grid-column: 2 / span 2;
    /* grid-column-end: 4; */
    grid-row-start: 4;
    text-align: center;
    justify-content: top;
    background: rgba(87, 87, 87, 0.4);
}

p.instructions {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    font-size: 2rem;
    text-align: center;
}

p.gameFeedback {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    font-size: 2rem;
    text-align: center;
}


div.content, div.feedback, div.title, p.instructions {
    font-size: 2rem;
}

@media screen and (min-width:1366px) {
/*     
    div.wrapper {
        width: 80%;
    } */

    div.content, div.feedback, div.title, p.instructions {
        font-size: 2rem;
    }
    
    div.wrapper {
        -webkit-text-stroke: 1px black;
        grid-template-rows: 1fr 1fr 1fr 6fr;
    }
}

@media screen and (min-width:1920px) {
    
    div.wrapper {
        width: 80%;
    }

    div.content, div.feedback, div.title, p.instructions {
        font-size: 3rem;
    }
    
    div.wrapper {
        -webkit-text-stroke: 1px black;
        grid-template-rows: 1fr 1fr 1fr 6fr;
    }
}
