body {
    /* background: black url('./_6121170.JPG') top center no-repeat fixed; */
    background: black url("../images/wordGameBackground1080.png") no-repeat fixed;
    font-weight: 800;
    overflow: hidden;
}


div.wrapper {
    width: 80%;
    margin: auto;
    background: rgba(0,0,0,0);
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    align-items: center;

    -webkit-text-stroke: 1px black;
        /* text-shadow:
            3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
            1px 1px 0 #000; */
    /* grid-row-gap: 1rem;*/
}

div.gridBlock, div.title {
    font-family: "Helvetica";
}

div.gridBlock {
    background-color: rgba(255, 255, 255, .4);
    grid-template-columns: 1fr 1fr;
    grid-row: row 2;
}

div.title {
    /* background:inherit; */
    /* font-family: "Georgia"; */
    font-size: 1rem;
    text-align: center;
    grid-row: row;
}

div.game {
    /* background: black; */
    /* font-family: "Georgia"; */
    font-size: 2rem;
    padding: 10px;
    grid-row: row 2;
    grid-column: col 1;
}

div.content {
    /* background: black; */
    /* font-family: "Georgia"; */
    font-size: 2rem;
    padding: 10px;
    grid-row: row 2;
    grid-column: col 2;
}

p.gameFeedback {
    margin: 0;
}

/* marginTop {
    margin-top: 10%;
} */